<%- include('../includes/head.ejs') %>
    <link href="/css/product.css" rel="stylesheet" />
    <link href="/css/forms.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <div class="grid">
        <form action="/admin/add-product" class="product-form" method="POST">
          <div class="form-control">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" />
          </div>

          <div class="form-control">
            <label for="imageUrl">Image Url</label>
            <input id="imageUrl" name="imageUrl" type="text" />
          </div>

          <div class="form-control">
            <label for="price">Price</label>
            <input id="price" name="price" type="number" step="0.01"/>
          </div>

          <div class="form-control">
            <label for="description">Description</label>
            <textarea id="description" name="description" type="text" rows="5"></textarea>
          </div>

          <button class="btn" type="submit">Add Product</button>
        </form>
      </div>
    </main>

<%- include('../includes/end.ejs') %>
