doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(content="width=device-width,initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="X-UA-Compatible")
        title Document
        link(href="/css/main.css" rel="stylesheet")

    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product
        h1 Page Not Found!
