extends layouts/main-layout.pug

block style
    link(href="/css/forms.css" rel="stylesheet")

block content
    main
        div.grid
            form(action="/admin/add-product" class="product-form" method="POST")
                .form-control
                    label(for="title") Title
                    input( id="title" name="title" type="text")
                    button.btn( type="submit") Add Product
